<!doctype html> 
<html lang="en"> 
<head> 
  <meta charset="UTF-8" />
  <title>EC2 Connectivity Puzzle</title>
  <script src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>
  <style type="text/css">
    body {
      margin: 0;
    }
  </style>
</head>
<body>
<h1> Make the EC2 instance connect to the Internet At Large! </h1>
<h2> The most exciting puzzle </h2>
<div id="puzzle">
<script src="scripts/canvas.js"></script>
</div>
</body>
</html>